[grid]
upn = 5
ewn = 321
nsn = 321
dew = 5000
dns = 5000
global_bc = 1     # 1 = outflow BCs
[time]
tstart = 0.
tend = 1.0
dt = 1.0
dt_diag = 1.0
adaptive_cfl_threshold = 0.5
idiag = 161
jdiag = 310

[options]
dycore = 2              # 0 = glide, 2 = glissade
evolution = 3           # 3 = remapping, 4 = first order upwind
flow_law = 0            # 0 = constant, 2 = Paterson-Budd
temperature = 0         # 0 = sfc air temp, 1 = prognostic
temp_init = 4           # 4 = read from external file
basal_mass_balance = 0  # 1 = include basal mass balance in continuity eqn
bmlt_float = 0          # 0 = no melting of floating ice
marine_margin = 6       # 5 = calving mask, 6 = prescribed advance/retreat rate
dm_dt_diag = 1          # 0 = kg/s, 1 = Gt/yr
smb_input = 0           # 0 = m/yr ice, 1 = mm/yr w.e.
restart_extend_velo = 1 # 1 = write uvel/vvel on extended grid
restart = 0             # 0 = no restart, 1 = standard restart, 2 = hybrid restart


[ho_options]
which_ho_bwat = 0                 # 0 = no basal water, 1 = constant, 2 = local till with drainage rate, 3 = steady state flux routing
which_ho_babc = 9                 # 9 = power law
which_ho_effecpress = 0           # 0 = overburden, 1 = reduce N near pressure melting pt, 2 = reduce N where basal water exists, 3 = reduce where nonzero water flux, 4 = reduce where basal water exists, Bueler/van Pelt
which_ho_efvs = 2                 # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3               # 1 = SLAP GMRES, 3 = Fortran PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 1            # 0 = Picard, 1 = accelerated Picard
which_ho_approx = 4               # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2, 4 = DIVA
which_ho_precond = 1              # 1 = diagonal precond, 2 = shallow ice preconditioner
which_ho_gradient_margin = 2      # 2 = marine BC
which_ho_gradient = 0             # 0 = centered, 1 = upstream
which_ho_assemble_beta = 1        # 0 = standard FE, 1 = local
which_ho_assemble_taud = 1        # 0 = standard FE, 1 = local
which_ho_assemble_bfric = 1       # 0 = standard FE, 1 = local
which_ho_assemble_lateral = 1     # 1 = local assembly applied at the marine boundary
which_ho_ground = 1               # 0 = no GLP, 1 = GLP
which_ho_ground_bmlt = 0          # 0 = no bmlt GLP, 1 = bmlt GLP
which_ho_resid = 4                # 3 = absolute, 4 = relative
which_ho_flotation_function = 3   # 0 = f_pattyn, 2 = linear, 3 = modified linear
which_ho_powerlaw_c = 0           # 0 = spatially uniform constant
which_ho_calving_front = 1        # 0 = no subgrid calving front, 1 = subgrid calving front
glissade_maxiter = 50

[basal_hydro]
const_bwat = 0                     # constant basal water depth (m)
bwat_till_max = 0                  # max water depth in till (m)
c_drainage = 0                     # drainage rate for local till model (m/yr)
ho_flux_routing_scheme = 0         # 0 = route downhill to one cell, 1 = route downhill to two cells, 2 = route downhill proportionate to grad(head)
const_source = 0                   # constant melt source at the bed (m/yr)
effecpress_delta = 0               # min value for effecpress N relative to overburden (unitless)
bwat_threshold = 0                 # bwat threshold (m)
bwat_gamma = 0                     # bwat gamma
cavity_open_slide = 0              # 0 = no opening by sliding, 1 = opening by sliding with fixed u_b, 2 = opening by sliding with dynamic u_b
cavity_open_melt = 0               # 0 = no opening by melting, 1 = opening by melting based on bmlt_ground, 2 = opening by melting based on cavity dissipation, 3 = opening based on bmlt_ground plus dissipation
bump_height = 0                    # for cavity opening by sliding
bump_wavelength = 0                # for cavity opening by sliding
sliding_speed_fixed = 0            # fixed sliding speed (m/yr)
flwa_basal = 0                     # flow factor A for closing by creep (Pa-3 yr-1)
c_close = 0                        # constant for closing
bmlt_hydro = 0                     # melt source term, varies for shmip experiment suite A

[parameters]
rhoi = 917.0                    # ice density
rhoo = 1028.0                   # ocean density
grav = 9.81	                    # gravitational acceleration
ice_limit = 1.                  # min thickness (m) for dynamics
default_flwa = 2.9377e-18
powerlaw_c_const = 10000.       # constant for the power law stress
powerlaw_m = 3.                 # exponent for the power law stress
geothermal = 0.
beta_grounded_min = 1.
thck_effective_min = 50.
dthck_dx_cf = 0.
cf_advance_retreat_amplitude = 0.
cf_advance_retreat_period = 0.

[CF default]
comment = created with ESHI.Setup.py
title = ESHI experiment using CISM

[CF input]
name = ESHI.input.nc
time = 1

[CF output]
variables = thk topg usurf uvel vvel beta_internal effecpress f_ground f_flotation floating_mask grounded_mask usfc vsfc ubas vbas uvel_mean vvel_mean stagthk ivol imass_above_flotation iareag calving_thck calving_mask
frequency = 1000
name = ESHI.out.nc

[CF restart]
variables = restart
xtype = double
frequency = 1000
name = ESHI.restart.nc
write_init = F