#!/bin/bash
#
#PBS -N MISMIP_ZoetIversson_spinup_inversion
#PBS -A P93300301
#PBS -l walltime=08:00:00
#PBS -q main
#PBS -l job_priority=economy
#PBS -k oed
#PBS -j oe
#PBS -m abe
#PBS -M t.vandenakker@uu.nl
#PBS -l select=8:ncpus=128:mpiprocs=128

. derecho-intel-modules

mpiexec -n 1024 -ppn 128 ./cism_driver mismip+Spinup.config  > cism.out.$PBS_JOBID 2>&1
