# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp

# Ignore python bytecode files
*.pyc

# Ignore build temporary files
CMakeCache.txt
CMakeFiles
Makefile
autocopy.log
Makefile.am
build
cmake_install.cmake
fortran_autocopy_includes
fortran_autogen_srcs
fortran_mod_files
lib

#ignore cism_driver executables
cism_driver

#ignore test outputs
results
*config.log
*out.nc
*restart.nc
output
*.o*
e1-mm.3.nc
isos.elra.nc
mismip.config
mismip3d.config
mismip3dInit.nc
greenland_20km.config.pdd.log
greenland_20km.config.smb.log
pbsout.txt
linear
P75R
P75S
Stnd
mismip+Ice0

#Ignore compiled topography files
bin_to_cube/bin_to_cube
bin_to_cube/bin_to_cube.o
bin_to_cube/shr_kind_mod.mod
bin_to_cube/shr_kind_mod.o
cube_to_target/cube_to_target
cube_to_target/cube_to_target.o
cube_to_target/reconstruct.mod
cube_to_target/reconstruct.o
cube_to_target/remap.mod
cube_to_target/remap.o
cube_to_target/ridge_ana.mod
cube_to_target/ridge_ana.o
cube_to_target/rot.o
cube_to_target/rotation.mod
cube_to_target/shared_vars.mod
cube_to_target/shared_vars.o
cube_to_target/shr_kind_mod.mod
cube_to_target/shr_kind_mod.o
cube_to_target/smooth_topo_cube.o
cube_to_target/smooth_topo_cube_sph.mod
