[grid]
ewn = 73
nsn = 50
upn = 5
dew = 500
dns = 500
global_bc = 2     # 0 = GLOBAL_BC_PERIODIC, 1 = outflow, 2 = GLOBAL_BC_NO_PENETRATION

[time]
tstart = 0.
tend = 300.
dt = 0.1
dt_diag = 10.
idiag = 5
jdiag = 5

[options]
dycore = 2              # 1 = glam, 2 = glissade
flow_law = 0            # 0 = isothermal, 2 = temperature dependent
evolution = 3           # 3 = inc. remapping, 4 = FO upwind, 5 = none
temperature = 2         # 0 = set column to surf. air temp, 1 = prognostic, 2 = hold at init. values
marine_margin = 8       # 0 = do nothing, 8 = damage
calving_init = 0        # 0 = calve after first time step, 1 = calve at initialization
calving_domain = 0      # 0 = ocean edge, 1 = everywhere, 2 = ocean connect
damage_src = 2          # 0 = none, 1 = effective stress, 2 = bassis and ma
damage_floor = 1        # 0 = none, 1 = nye
damage_advect = true
damage_manufactured = false

[ho_options]
which_ho_babc = 5       # 5 = take basal traction param value from .nc input
which_ho_efvs = 2       # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1=JFNK
which_ho_approx = 1     # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2
which_ho_precond = 1    # 0 = none, 1 = diagonal, 2 = SIA based (ONLY use for which_ho_approx = 2)
which_ho_vertical_remap = 1    # 0 = first order, 1 = second order
which_ho_calving_front = 1   # 0 = no subgrid, 1 = subgrid
glissade_maxiter = 500

[parameters]
default_flwa = 1.294e-17
damage_threshold = 0.99   # Calving criterion value
calving_timescale = 0.1   # Calving timescale

[CF default]
title = Ice Tongue Test Case

[CF input]
name = tongue_input.nc
time = 1

[CF output]
variables = thk uvel vvel damage kinbcmask const_thk_mask no_advance_mask efvs tau_xx tau_yy eps_xx eps_yy topg acab
frequency = 1.0
name = results/erebus.out.nc

