[grid]
upn = 5
ewn = 25
nsn = 5
dew = 4000.0
dns = 4000.0
global_bc = 1     # 1 = outflow BCs

[time]
tstart = 0.0
tend = 0.017
dt = 0.017
dt_diag = 0.017
adaptive_cfl_threshold = 0.5
idiag = 13
jdiag = 3

[options]
dycore = 2              # 0 = glide, 2 = glissade
evolution = 3           # 3 = remapping, 4 = first order upwind

[ho_options]
which_ho_bwat = 3                 # 3 = steady state flux routing (always the case for SHMIP)
which_ho_effecpress = 0           # 0 = overburden, 1 = reduce N near pressure melting pt, 2 = reduce N where basal water exists, 3 = reduce where nonzero water flux, 4 = reduce where basal water exists, Bueler/van Pelt
which_ho_sparse = 3               # 1 = SLAP GMRES, 3 = Fortran PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 1            # 0 = Picard, 1 = accelerated Picard
which_ho_approx = 4               # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2, 4 = DIVA
glissade_maxiter = 50

[basal_hydro]
ho_flux_routing_scheme = 2         # 0 = route downhill to one cell, 1 = route downhill to two cells, 2 = route downhill proportionate to grad(head)
const_source = 4.5e-09
bwat_threshold = 0.10              # macroporous sheet, bwat range over which N ramps down from overburden to a small value (m)
bwat_gamma = 3.5                   # macroporous sheet, exponent in the expression (bwat/bwat_threshold)^bwat_gamma
cavity_open_slide = 0              # 0 = no opening by sliding, 1 = opening by sliding with fixed u_b, 2 = opening by sliding with dynamic u_b
cavity_open_melt = 0               # 0 = no opening by melting, 1 = opening by melting based on bmlt_ground, 2 = opening by melting based on cavity dissipation, 3 = opening based on bmlt_ground plus dissipation
bump_height = 0.1                  # for cavity opening by sliding
bump_wavelength = 2.0              # for cavity opening by sliding
sliding_speed_fixed = 31.5         # fixed sliding speed (m/yr)
flwa_basal = 1.064e-16             # flow factor A for closing by creep (Pa-3 yr-1)
c_close = 0.074                    # constant for closing
which_ho_effecpress = 2

[parameters]
rhoi = 917.0                    # ice density
rhoo = 1028.0                   # ocean density
grav = 9.81	                    # gravitational acceleration
ice_limit = 1.                  # min thickness (m) for dynamics
default_flwa = 2.9377e-18
geothermal = 0.

[CF default]
comment = ESHI SteadyStateE
title = ESHI experiment using CISM

[CF input]
name = ESHI.input.nc
time = 1

[CF output]
variables = thk topg usurf beta_internal effecpress usfc vsfc ubas vbas ivol bwat_diag bmlt_hydro head
frequency = 1000
name = ESHI.SteadyStateE.out.nc
freq = 1.0

[CF restart]
variables = restart
xtype = double
frequency = 1000
name = ESHI.restart.nc
write_init = F

