# configuration for the EISMINT-2 test-case

[EISMINT-2]

[grid]
# grid sizes
ewn = 61
nsn = 61
upn = 11
dew = 25000
dns = 25000

[options]
dycore = 2                 # 2 = Glissade
temperature = 1
flow_law = 2
isostasy = 0
slip_coeff = 0
marine_margin = 3
evolution = 3              # 3 = incremental remapping
basal_water = 1
vertical_integration = 0   # glissade does not support option 1
basal_mass_balance = 0

[ho_options]
which_ho_approx = -1        # -1 = local SIA
which_ho_sparse = 3         # 3 = parallel PCG

[time]
tend = 200000.
dt = 5.
ntem = 1.
dt_diag = 5000.
idiag = 31
jdiag = 31

[parameters]
geothermal = -42.e-3
ice_limit = 1.

[CF default]
title: EISMINT-2 Exp A
comment: forced upper kinematic BC

[CF output]
name: e2.a.nc
frequency: 1000
variables: thk bmlt btemp temp uvel vvel wvel wgrd acab diffu

[CF restart]
name: e2.a.restart.nc
xtype: double
frequency: 100000
variables: restart
write_init: F

