# configuration for the EISMINT-2 test-case

[EISMINT-2]

[grid]
# grid sizes
ewn = 61
nsn = 61
upn = 11
dew = 25000
dns = 25000

[options]
dycore = 2                  # 2 = Glissade
temperature = 1
flow_law = 2
isostasy = 0
marine_margin = 3
evolution = 3               # 3 = incremental remapping
basal_water = 1
slip_coeff = 2   # could also set slip_coeff = 3 (constant where T = Tpmp)
vertical_integration = 0    # glissade does not support option 1
basal_mass_balance = 0

[ho_options]
which_ho_approx = -1        # -1 = local SIA
which_ho_sparse = 3         # 3 = parallel PCG

[time]
tend = 200000.
dt = 5.
ntem = 1.
dt_diag = 5000.
idiag = 31
jdiag = 31

[parameters]
geothermal = -42.e-3
ice_limit = 1.
basal_tract_const = 1.e-3

[CF default]
title: EISMINT-2 Exp H
comment: forced upper kinematic BC

[CF output]
name: e2.h.nc
frequency: 1000
variables: thk bmlt btemp temp ubas vbas uvel vvel wvel wgrd acab diffu bwat

